h1 {
    text-align: center;
}

#gl {
    color: orange;
}

#ad {
    color: blue;
}

#gc {
    color: green
}

#logos {
    display: flex;
    justify-content: center;
}

#logos img {
    width: 100px;
    height: auto;
    margin: 50px;
}

.gl_buttons {
    background-color: orange;
}

.ad_buttons {
    background-color: blue;
}

.gc_buttons {
    background-color: green;
}

#buttons {
    display: flex;
    justify-content: center;
}

#buttons button {
    padding: 10px;
    border-radius: 5px;
}

#gl_dislike {
    margin-right: 110px;
}

#gc_like {
    margin-left: 110px;
}

#likes {
    display: flex;
    justify-content: center;
}

#likes p {
    padding: 10px;
}

#gl_dislikes {
    margin-right: 110px;
}

#gc_likes {
    margin-left: 110px;
}